function prog4 5
push constant 15
pop local 0
push constant 5
pop local 1
push local 0
push constant 5
add
pop local 0
push local 0
push local 1
add
pop local 2
push local 2
pop local 3
push local 0
push local 1
sub
pop local 4
return
